@import "./sass/bootstrap";
@import './sass/register';
@import './sass/login';
@import './sass/navbar';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

// footer
footer{
  background-color: #f35b04!important;
}
label {
  margin: 5px;
}
// schedule
.spaceBeteen{
  display: flex;
  justify-content: space-between;
  align-items: center;
  input{
    color: black !important;
  }
  input:focus{
    outline: none;
  }
}
.days{
  display: block;
}
@media (max-width: 392px){
  .days{
    display: none;
  }
}